---
import removeTrailingSlash from "@/utils/removeTrailingSlash";
import presentation from "@/data/presentation";

const pathname = removeTrailingSlash(Astro.url.pathname);
---

<header class="z-40 flex w-full flex-col gap-2 md:flex-row md:justify-between">
  <!-- <a href={`mailto:${presentation.mail}`} class="hover:text-neutral-100"
    >{presentation.mail}</a
  > -->
  <a
    href="/santiago_jimenez_cv.pdf"
    download
    class="rounded border border-orange-500 px-4 py-2 text-center font-bold text-white hover:bg-black hover:text-orange-500"
  >
    Descargar CV
  </a>
</header>
