---
import presentation from "@/data/presentation";
---

<div role="list" class="flex gap-2">
  {
    presentation.skills.map((skill, index) => (
      <>
        <span
          class="iconify"
          data-icon={`cib:${skill.icon.toLowerCase()}`}
          data-inline="false"
        />
      </>
    ))
  }
</div>

<style>
  .iconify {
    font-size: 1.3rem;
    color: white;
  }
</style>
