---
import SEOTags from "@/components/seo/SEOTags.astro";
import type { HeadTags } from "@/utils/types/HeadTags";

import "@/styles/tailwind.css";
import "@/styles/post.css";

export type Props = HeadTags;

const headTags = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
  <SEOTags {...headTags} />

  <body class="min-h-screen bg-page font-mono text-text antialiased">
    <slot />
  </body>
</html>
